body {
    width: 400px;
    margin: 0;
    background: linear-gradient(45deg, #c6ebfa, #cfe0ff8c, #f5e7e8);
}

body a {
    color: rgb(0, 143, 226);
    text-decoration: none;
}

body a:hover {
    color: rgb(68, 0, 255);
    text-decoration: underline;
}

html::-webkit-scrollbar {
    display: none;
}

.hidden {
    display: none;
}

.extensions-reppuddle {
    height: fit-content;
    display: flex;
    margin: 0;
    padding: 0;
    /* background: #ffdf00; */
}

.extensions-reppuddle:hover {
    background: #f3d300;
}

.qr-hvr:hover {
    filter: invert();

    scale: 1.05
}

.qr-hvr {
    transition: .15s;
}

.dim-hvr {
    position: relative;
    transition: .15s;
}

.dim-hvr:hover {
    background-color: red;
}

.set-forward input,
.set-backward input {
    display: flex;
    background: #eefbff;
    padding: 9px;
    font-size: 14pt;
    width: 110px;
    text-align: center;
    border-radius: 7px;
    margin: 4px;
    border: 2px solid black;
}

/* Styles for the input type number */

/* Styles for the spin buttons */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    /* -webkit-appearance: none; */
    margin: 0;
    /* Customize the appearance */
    background-color: #f0f0f0;
    border-radius: 4px;
    color: rgb(43, 0, 199);
    width: 15px;
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    height: 30px;
}

.set-forward input:hover,
.set-forward input:focus-visible,
.set-backward input:hover,
.set-backward input:focus-visible {
    border: 2px solid #5442e9;
    outline: transparent;
}

.skip-btns {
    display: flex;
    justify-content: center;
    padding: 8px;
    text-align: center;
    font-size: 12pt;
}

.skip-btns label {
    display: flex;
    border: 2px solid #757575d1;
    color: #d2d2d2;
    background: #2e2e2e;
    font-family: arial;
    padding: 10px 9px;
    height: 25px;
    padding-bottom: 15px;
    font-size: 9pt;
    width: 110px;
    margin: 0 4px;
    margin-bottom: -25px;
    border-radius: 7px;
    justify-content: center;
    text-transform: uppercase;
}

form {
    /* background: linear-gradient(45deg, #f5b3b333, #d9bbef45); */
    /* background: #121314; */
    background: linear-gradient(360deg, #000000, #2e0101);
    padding-bottom: 25px;
    position: relative;
}

form.not-on-youtube {
    pointer-events: none;
    user-select: none;
}

form button {
    display: block;
    background: #e00606ef;
    color: white;
    font-size: 13pt;
    font-weight: bold;
    padding: 6px 74px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

#warningOverlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: black;
    z-index: 1;
}

.overlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
}

.overlay span {
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 12pt;
    padding: 7px 10px;
    background: black;
    border: 1px solid rgb(209, 13, 13);
    box-shadow: 0 0 10px 2px #ff000094;
    border-radius: 7px;
}

.single,
.links,
.show {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.links a {
    display: flex;
    justify-content: center;
    width: fit-content;
    position: relative;
    padding: 0 15px;
    height: 42px;
    width: 147px;
    background: black;
    color: white;
    font-family: arial;
    font-weight: bold;
    border-radius: 5px;
    margin: 6px 6px;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 6px #00000036;
}

.single svg,
.single img {
    margin-right: 7px;
}

.show {
    display: none;
    position: absolute;
    bottom: 120%;
    left: 0;
    content: '';
    padding: 4px 7px;
    border: 1px solid #f00;
    color: white;
    background: #000000dc;
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    margin: 0;
}

.links {
    position: relative;
    white-space: nowrap;
    justify-content: center;
    color: black;
    z-index: 1;
}

.single:hover .show {
    display: block;
}

.links:hover path,
.links:hover a {
    /* fill: white; */
    color: white;
}

.updating {
    background: #444444 !important;
    color: white !important;
}
.support {
    display: flex;
    background: black;
    color: grey;
    justify-content: flex-end;
}
.support span {
    padding:3px 6px;
    margin-bottom:4px;
    margin-right:4px;
    cursor: pointer;
}
.support span:hover {
    color: white;
}
.support-div {
    height:0px;
    overflow: hidden;
    transition: height .3s ease;
}
.expand {
    height:100%;
    overflow: visible;
}