body {
    width: 400px;
    margin: 0;
    background: linear-gradient(45deg, #c6ebfa, #cfe0ff8c, #f5e7e8);
}

body a {
    color: rgb(0, 143, 226);
    text-decoration: none;
}

body a:hover {
    color: rgb(68, 0, 255);
    text-decoration: underline;
}

html::-webkit-scrollbar {
    display: none;
}

br {
    user-select: none;
}

.header {
    background: #240000;;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #2c1715;
}

.hidden {
    display: none;
}

#closeWhatsNewPromptBtn {
    display: flex;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 10px;
    border-radius: 7px;
    align-items: center;
}
#closeWhatsNewPromptBtn:hover {
    background: #ffffff21;
    cursor: pointer;
}
#showWhatsNewPromptBtn {
    position: absolute;
    color: #ffffff4a;
    right: 4px;
    cursor: pointer;
}

#showWhatsNewPromptBtn:hover {
    color: gainsboro;
}

.extensions-reppuddle {
    height: fit-content;
    display: flex;
    margin: 0;
    padding: 0;
    background: #ffdf00;
}

.extensions-reppuddle:hover {
    background: #f3d300da;
}

.dim-hvr {
    position: relative;
    transition: .15s;
}

.dim-hvr:hover {
    background-color: rgb(129, 0, 0);
}

.set-forward input,
.set-backward input {
    display: flex;
    background: #eefbff;
    padding: 9px;
    font-size: 14pt;
    width: 110px;
    text-align: center;
    border-radius: 7px;
    margin: 4px;
    border: 2px solid black;
}

/* Styles for the input type number */

/* Styles for the spin buttons */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    /* -webkit-appearance: none; */
    margin: 0;
    /* Customize the appearance */
    background-color: #f0f0f0;
    border-radius: 4px;
    color: rgb(43, 0, 199);
    width: 15px;
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    height: 30px;
}

.set-forward input:hover,
.set-forward input:focus-visible,
.set-backward input:hover,
.set-backward input:focus-visible {
    border: 2px solid #5442e9;
    outline: transparent;
}

.skip-btns {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    text-align: center;
    font-size: 12pt;
}

.skip-btns label {
    display: flex;
    border: 2px solid #757575d1;
    color: #d2d2d2;
    background: #2e2e2e;
    font-family: arial;
    padding: 10px 9px;
    height: 25px;
    padding-bottom: 15px;
    font-size: 9pt;
    width: 110px;
    margin: 0 4px;
    margin-bottom: -25px;
    border-radius: 7px;
    justify-content: center;
    text-transform: uppercase;
}
#skipTimeForm {
    padding: 40px 0;

}
.setting-body {
    /* background: linear-gradient(45deg, #f5b3b333, #d9bbef45); */
    /* background: #121314; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(360deg, #100000, #140000);
    position: relative;
    min-height:220px;
}

.not-on-youtube {
    pointer-events: none;
    user-select: none;
}

form button {
    display: block;
    background: #410000ef;
    color: white;
    font-size: 13pt;
    font-weight: bold;
    padding: 12px 74px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

#warningOverlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: black;
    z-index: 9;
}

.overlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
}

.overlay span {
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 12pt;
    padding: 7px 10px;
    background: black;
    border: 1px solid rgb(209, 13, 13);
    box-shadow: 0 0 10px 2px #ff000094;
    border-radius: 7px;
}

.single,
.links,
.show {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.links a {
    display: flex;
    justify-content: center;
    width: fit-content;
    position: relative;
    padding: 0 15px;
    height: 42px;
    width: 147px;
    background: black;
    color: white;
    font-family: arial;
    font-weight: bold;
    border-radius: 5px;
    margin: 6px 6px;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 6px #00000036;
}

.single svg,
.single img {
    margin-right: 7px;
}

.show {
    display: none;
    position: absolute;
    bottom: 120%;
    left: 0;
    content: '';
    padding: 4px 7px;
    border: 1px solid #f00;
    color: white;
    background: #000000dc;
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    margin: 0;
}

.links {
    position: relative;
    white-space: nowrap;
    justify-content: center;
    color: black;
    z-index: 1;
}

.single:hover .show {
    display: block;
}

.links:hover path,
.links:hover a {
    /* fill: white; */
    color: white;
}

.updating {
    background: #444444 !important;
    color: white !important;
}

.show-text {
    padding: 0 !important;
    margin: 0 3px 0 0 !important;
}

.expand-wrap {
    display: flex;
    color: grey;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
}

.expand-wrap span {
    display: flex;
    align-items: center;
    padding: 3px 6px;
    margin-bottom: 4px;
    margin-right: 4px;
    cursor: pointer;
    user-select: none;
}

.expand-wrap span:hover,
.expanded {
    color: white;
}

.expand-wrap span:hover path,
.expanded path {
    stroke: white;
}

#expand-btn {
    width: 75px;
    margin-top: 12px;
    margin-bottom: 5px;
}

.expand-div {
    height: 0px;
    overflow: hidden;
    /* transition: height .3s ease; */
}

.expand {
    overflow: visible;
}

.rating-wrap {
    background: black;
}

.rating {
    display: flex;
    justify-content: center;
    height: 42px;
    font-size: 28px;
    margin: 0 auto;
    width: fit-content;
}

.star {
    cursor: pointer;
    color: gray;
}

.selected {
    color: #ffdf00;
}

.rating:hover .selected {
    color: gray;
}

.star:hover,
.star.hovered {
    color: #ffdf00 !important;
    text-decoration: none;
}

.reportIssueWrap {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 10pt;
    z-index: 1;
}

.reportIssuePrompt {
    display: none;
    color: white;
    background: black;
    padding: 12px;
    border-top: 1px solid red;
}

.reportIssueWrap:hover {
    background-color: black;
}

.reportIssueWrap:hover .reportIssuePrompt {
    display: block;
}

.reportIssue {
    display: flex;
    align-items: center;
    color: #dfdfdf !important;
    padding-left: 8px;
    cursor: default !important;
    padding-bottom: 6px;
    text-decoration: none !important;
}

#refreshButton {
    position: absolute;
    top: 6px;
    left: 8px;
    padding: 0;
    fill: #dfdfdf;
    background: transparent;
    border: none;
    z-index: 1;
}

#refreshButton,
.settingsButton,
.reportIssue {
    cursor: pointer;
    opacity: .45;
    transition: .3s ease;
}

#refreshButton:hover,
.settingsButton:hover,
.reportIssueWrap:hover .reportIssue {
    opacity: 1;
}

#refreshButton:hover:before {
    content: 'manually inject buttons';
    color: white;
    position: absolute;
    left: 130%;
    top: 0px;
    white-space: nowrap;
    font-size: 10pt;
}

#openSettingsMenu:hover:before {
    content: 'options';
    color: white;
    position: absolute;
    right: 120%;
    top: -1px;
    white-space: nowrap;
    font-size: 10pt;
}

#closeSettingsMenu:hover:before {
    content: 'close';
    color: white;
    position: absolute;
    right: 120%;
    top: -1px;
    white-space: nowrap;
    font-size: 10pt;
}

.settings-menu {
    position: absolute;
    top: 6px;
    right: 8px;
    z-index: 2;
}

#settingsMenu {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #000000d6;
    top: 0;
    left: 0;
    z-index: 1;
    /* overflow-y: scroll; */
}

.settingsMenuInner {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 263px;
    max-width: 263px;
    white-space: nowrap;
    /* margin-top: 50px;
    padding: 30px 0; */
}

.settingsMenuInner p {
    margin: 5px 0;
    color: gray;
}

.control-group {
    accent-color: rgb(209, 13, 13);
}

.control-group {
    display: flex;
    align-items: center;
    user-select: none;
}

.control-group button {
    background: rgb(209, 13, 13);
    border: none;
    color: white;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

.control-group button:hover {
    background: rgb(184, 10, 10);
}

.control-group button:active {
    background: rgb(216, 18, 18);
}

.control-group input::-webkit-outer-spin-button,
.control-group input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.control-group input[type=number] {
    -moz-appearance: textfield;
}